:root {
  --backgroundColor: #ffffff;
  --primaryColor: #171717;
  --errorBackgroundColor:#ffebee;
  --errorColor:#c62828;
  --successBackgroundColor:#e6f4ea;
  --successColor:#2e7d32;
  --warningBackgroundColor:#fff8e1;
  --warningColor:#ffb300;
}

html,
body {
 display: flex;
 align-items: center;
 justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
button{
  cursor: pointer;
}